<div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
   <div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
      <img src="https://www.tradeaffairnetwork.com/static/html/bizipress/red/images/logowt.png" style="width:100px;height:90px; margin-left:50% !important;" class="CToWUd" data-bit="iit"><br><br>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h3 style="padding:5px 3px">Deposit NOTIFICATION</h3>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h5>Hello {{name}},</h5>

      Your deposit order is successful and your contract is now active. <br>

	  Contract Details: <br><br>

      Transaction ID:{{TransactionID}} <br>
      Investment: {{package}} <br>
      Amount: USD {{amount|floatformat:'2'}} <br>
      Duration: 28 days <br>
      ROI: USD {{roi|floatformat:'2'}} daily<br>
      Approved Date: {{approvedDate|date:"d M, Y"}} <br>

      Thank you for choosing us.<br><br>

<i><b>NOTE: Principal amount can only be withdrawn at the end of the contract</b></i> <br><br>

Support Team, <br>
Support@Century21fincs.org</span>
   <br><br> Century21 Financial Services<br> All rights Reserved.
   </div>
   <div class="yj6qo"></div>
   <div class="adL"></div>
</div>