<div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
   <div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
      <img src="https://www.tradeaffairnetwork.com/static/html/bizipress/red/images/logowt.png" style="width:100px;height:90px; margin-left:50% !important;" class="CToWUd" data-bit="iit"><br><br>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h3 style="padding:5px 3px">Debit NOTIFICATION</h3>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h5>Hello {{name}},</h5>
You initiated a successful transfer. <br>

Transaction information: <br><br>

Amount sent: USD {{amount|floatformat:'2'}} <br>

Reciever: {{recieverName}} <br>

New Account Balance: USD {{balance}} <br>

Status: Successful <br>

Thank you for choosing us.<br><br>

<i><b>NOTE: This transfer has been removed from your balance.</b></i> <br><br>

Support Team, <br>
support@Century21fincs.org</span>
   <br><br> Century21 Financial Services<br> All rights Reserved.
   </div>
   <div class="yj6qo"></div>
   <div class="adL"></div>
</div>