<div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
   <div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
      <img src="https://www.tradeaffairnetwork.com/static/html/bizipress/red/images/logowt.png" style="width:100px;height:90px; margin-left:50% !important;" class="CToWUd" data-bit="iit"><br><br>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h3 style="padding:5px 3px">Contract Expired</h3>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h5>Hello {{name}},</h5>
Your daily return of investment was not added to your account as your contract has expired. <br>

Please renew your contract to continue enjoying our services. <br>

Support Team,<br>
Support@Century21fincs.org</span>
   <br><br> Century21 Financial Services<br> All rights Reserved.
   </div>
   <div class="yj6qo"></div>
   <div class="adL"></div>
</div>