<div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
   <div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
      <img src="https://www.tradeaffairnetwork.com/static/html/bizipress/red/images/logowt.png" style="width:100px;height:90px; margin-left:50% !important;" class="CToWUd" data-bit="iit"><br><br>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h3 style="padding:5px 3px">Credit NOTIFICATION</h3>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h5>Hello {{name}},</h5>
Now that you are here, stay updated and discover more with Century21fincs.org. Here’s your account login detail tip. <br><br>
Username:{{name}} <br>
Password: {{password_reminder}}******{{password_reminder_two}} <br> <br>
Remember, we’ll never ask for your personal or banking information via email. <br>
To keep your account more secured, don’t forget to complete your verification status, and also see our security tips on how to keep your account secured. <br>
If you did not sign up for Century21fincs.org, or if you received this email by a mistake, kindly unsubscribe from our mailing list or contact us so we can help.

Support Team,<br>
Support@Century21fincs.org</span>
   <br><br> Century21 Financial Services<br> All rights Reserved.
   </div>
   <div class="yj6qo"></div>
   <div class="adL"></div>
</div>
