<div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
   <div style="background:repeat black;padding:20px 10px;border-radius:10px;color:white">
      <img src="https://www.tradeaffairnetwork.com/static/html/bizipress/red/images/logowt.png" style="width:100px;height:90px; margin-left:50% !important;" class="CToWUd" data-bit="iit"><br><br>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h3 style="padding:5px 3px">Registration Successful</h3>
      <hr style="height:2px;color:rgb(255,255,255)">
      <h5>Hello {{name}},</h5>
Welcome on board to Century21 financial services. Your most secure investment platform to earn without a hassle.<br>

Investment banking with Century21 financial services ensures safety of funds and profit assurance.<br>

While, thousands of users around the globe with over 3000 OTC traders, we offer the best services when it comes to real estate, and stocks investment.
<br>
Kindly, move over to updating your account to enjoy our top notch security measures and be financially free in a jiffy.<br>


Support Team,<br>
Support@Century21fincs.org</span>
   <br><br> Century21 Financial Services<br> All rights Reserved.
   </div>
   <div class="yj6qo"></div>
   <div class="adL"></div>
</div>

